body {
    margin: 0;
    --accent-color: 0, 251, 174;
    --page-color: 13, 13, 13;
    background-color: rgb(var(--page-color));

    animation: accent-color-loop 0.5s infinite;
}

@keyframes accent-color-loop {
    0%    { --accent-color: 0, 251, 174; }
    33%   { --accent-color: 251, 242, 54; }
    66%   { --accent-color: 217, 87, 99; }
    100%    { --accent-color: 0, 251, 174; }
}

h1 {
    color: rgb(var(--accent-color));
    font-family: 'IBM Plex Mono';
}
